﻿@model BoookStore.ViewModels.EditorBookViewModel

@{
    ViewBag.Title = "Criando um novo livro...";
    //Layout = "~/Views/Shared/_LayoutNovo.cshtml"; <!-- seta qual a view que ele vai usar como master -->
}

@helper MinhaFuncao(string nome)
{
    <text>Você está logado como: @nome</text> <!-- esse text é do próprio razor, tudo que tiver nele é text -->
}

<p>
    @MinhaFuncao("André Baltieri")
</p>

<h2>Novo Livro</h2>

@using (Html.BeginForm())
{
    @Html.ValidationSummary(false, "", new { @class = "text-danger" })

    <div class="alert alert-danger">
        @Html.ValidationMessage("Mensagem")
    </div>

    @Html.Partial("Partials/EditorBookPartial", Model)

    <button type="submit" class="btn btn-default">Criar</button>
}

@section Scripts {
    @Scripts.Render("~/bundles/jqueryval")
}