﻿@model IEnumerable<BookStore.Domain.Livro>

@{
    ViewBag.Title = "Index";
    //Layout = "~/Views/Shared/_LayoutNovo.cshtml"; <!-- seta qual a view que ele vai usar como master -->
}

<h2>Index</h2>

<p>
    @Html.ActionLink("Create New", "Create")
</p>

@Html.Partial("Partials/ListBookPartial", Model)

