﻿@model BookStore.Domain.Autor

@{
    ViewBag.Title = "Dados";
}

<h2>Dados da view @Model.Nome</h2>

<ul>
    <li>ViewBag: @ViewBag.Categoria</li> <!--morre em um request e pode ser sobreescrtio por viewdata-->
    <li>ViewData: @ViewData["Categoria"]</li> <!--morre em um request e pode ser sobreescrtio por viewBag-->
    <li>TempData: @TempData["Categoria"]</li><!--morre em um segundo request-->
    <li>Session: @Session["Categoria"]</li><!--morre depois de 20min-->
</ul>