﻿@model BoookStore.ViewModels.EditorBookViewModel

<div class="form-group">
    @Html.LabelFor(model => model.Nome) <!-- substitui o label -->
    @Html.EditorFor(model => model.Nome, new { htmlAttributes = new { @class = "form-control" } }) <!-- substitui input --> <!-- htmlAttributes permite colocar atributos html no editor form (maxlength, minlength, etc)-->
    <!-- <input type="text" name="Nome" id="Nome" class="form-control" /> --> <!-- .EditorFor() gera este código -->
</div>

<div class="form-group">
    @Html.LabelFor(model => model.ISBN) <!-- substitui o label -->
    @Html.EditorFor(model => model.ISBN, new { htmlAttributes = new { @class = "form-control" } }) <!-- substitui input --> <!-- htmlAttributes permite colocar atributos html no editor form (maxlength, minlength, etc)-->
</div>

<div class="form-group">
    @Html.LabelFor(model => model.DataLancamento) <!-- substitui o label -->
    @Html.EditorFor(model => model.DataLancamento, new { htmlAttributes = new { @class = "form-control" } }) <!-- substitui input --> <!-- htmlAttributes permite colocar atributos html no editor form (maxlength, minlength, etc)-->
</div>

<div class="form-group">
    @Html.LabelFor(model => model.CategoriaId) <!-- substitui o label -->
    @Html.DropDownListFor(
                 m => m.CategoriaId,
                 Model.CategoriaOptions,
                 "Selecione uma opção...",
                 new { htmlAttributes = new { @class = "form-control" } })
</div>

@Html.EditorFor(x => x.Age)
@Html.ValidationMessageFor(x => x.Age)